<%- include('./includes/head.ejs') %>

<body>

    <main>
        <div class="container">
            <h1>This is a bitcoin api tester RESULT PAGE</h1>
            <div class="bitcoinResultContainer">



                <p> this is crypto <%= `${crypto}` %></p>
                <p> this is fiat <%= `${fiat}` %></p>
                <p> this is price <%= `${price}` %></p>
                <p> this is <%= `${pageTitle}` %></p>





            </div>
        </div>



    </main>

    <%- include('./includes/footer.ejs') %>